
/* ==========================================================================
   UNHCR-specific
   ========================================================================== */
html,
body,
main { height: 100%; }

body {
  font: 12px/1.5 Helvetica, arial, freesans, clean, sans-serif;
}

/* Variables */
$grey-light: #f3f3f3;
$grey-medium: #57595a;
$grey-dark: #333333;

$orange-dark: #d64a2b;

$brown-light: #e6c68b;

$header-bg-color: $grey-dark;

/* Utilities */
.hide { display: none; }

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Header */
.map-actions {
  background: $header-bg-color;
  color: #fff;
  position: relative;

  a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $brown-light;
    }
  }

  h4 { margin: 0;}
}

#search-map a {
  border-bottom: 2px solid $orange-dark;
  display: block;
  font-size: 14px;
  padding: 10px;
}

/* Map styles */
#map {
  height: 90%;
  float: none;
  clear: both;
}

/* Toggle styles */
#map-list-toggler {
  border: 1px solid darken($orange-dark, 20%);
  font-size: 14px;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;

  span {
    display: inline-block;
    padding: 1px 8px;
    margin: 0;
    background-color: #fff;
    color: $orange-dark;

    &.active {
      background-color: $orange-dark;
      color: #fff;

      &:hover { cursor: default; }
    }
  }
}

.advancedToggler {
  cursor: pointer;
  position: absolute;
  top: 130px;
  right: 20px;
}

/* List styles */
#list {
  display: none;
}

.serviceText {
  border-bottom: 1px solid darken($grey-light, 20%);

  &.expand {
    .content {
      display: block;
    }
  }

  header {
    padding: 10px;

    &:hover { cursor: pointer; }

    * { margin: 0; }
    > img {
        float: right;
        margin: 0 10px 0 10px;
    }
    > h3 {
      display: inline;
    }
    > a {
      margin-left: 6px;
    }
  }

  .content {
    display: none;
    padding: 0 10px 10px 10px;

    > p {
      margin: 2px 0;
    }
  }
  .comments {
    margin-top: 10px;
  }
}

/* Marker styles */
.awesome-marker i {
  font-size: 24px !important;
  margin: 2px 0 0 8px !important;
}

/* Popup styles */
.leaflet-popup-content {
  font-size: 12px;

  p {
    font-size: 12px;
    margin: 0;
  }

  h3 {
    font-size: 14px;
    margin: 0;
  }

  h4 {
    font-size: 12px;
    margin: 0;
  }
  > .serviceText {
      margin: 0;
      border-bottom: none;
  }
}

.leaflet-popup-content .serviceText header { padding: 0 !important; }
.leaflet-popup-content .serviceText p { margin: 2px 0 !important; }
.leaflet-popup-content .serviceText img { width: 100px; }

/* Filter Togglers */
ul.filter-togglers {
  font-size: 13px;
  font-weight: bold;
  margin: 0 100px 0 0;
  padding: 0 5px;

  li {
    float: left;
    list-style: none outside none;
  }

  a {
    color: $grey-medium;
    display: block;
    padding: 5px;
    text-decoration: none;

    &:hover,
    &.active {
      color: $grey-dark;
    }
  }
}

/* Filter contents */
.filter-contents {
  display: none;
}

.filter,
.advanced-search {
  border-bottom: 1px solid $header-bg-color - #101010;
  border-top: 1px solid $header-bg-color + #111111;
  padding: 10px;
}

/* Activity Category */
#activityName {

  label {
    display: inline-block;
    margin: 5px 0;
    position: relative;
    width: 290px;
  }

  .filter-label-value {
    margin-left: 23px;
  }

  .glyph {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;

    font-size: 1.5em;
    left: 15px;
    position: absolute;
    top: -0.01em;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: white;
  }
}
#activityname-filter-value-all span.glyph { background-color: transparent; }
#activityname-filter-value-basic-needs span.glyph:before {
    content: "\f412"; color: #f96a1b;
}
#activityname-filter-value-child-protection span.glyph:before,
#activityname-filter-value-protection span.glyph:before,
#activityname-filter-value-case-focused-mhpss span.glyph:before,
#activityname-filter-value-community-focused-mhpss-and-protection span.glyph:before,
#activityname-filter-value-general-mhpss---protection span.glyph:before,
#activityname-filter-value-refugee-right span.glyph:before {
    content: "\f368";
    color: #1f497d;
}
#activityname-filter-value-maintain-food-security span.glyph:before,
#activityname-filter-value-improve-nutritional-status span.glyph:before {
    content: "\f366";
    color: #006600;
}
#activityname-filter-value-need-coverage span.glyph:before {
    content: "\f32a";
    color: #a48658;
}
#activityname-filter-value-shelter-rehabilitation-jordanians---syrians span.glyph:before,
#activityname-filter-value-economic-capacity-of-syrian-refugee-families span.glyph:before {
    content: "\f363";
    color: #989aac;
}
#activityname-filter-value-education span.glyph:before,
#activityname-filter-value-access-to-appropriate-opportunities span.glyph:before,
#activityname-filter-value-education-for-children-with-disabilities span.glyph:before,
#activityname-filter-value-learning--environment span.glyph:before {
    content: "\f362";
    color: #c00000;
}
#activityname-filter-value-health span.glyph:before,
#activityname-filter-value-community-care---child-health span.glyph:before,
#activityname-filter-value-community-care---environmental-health span.glyph:before,
#activityname-filter-value-community-care---nutrition span.glyph:before,
#activityname-filter-value-community-care---sti---hiv-aids span.glyph:before,
#activityname-filter-value-primary-care---child-health span.glyph:before,
#activityname-filter-value-primary-care---non-communicable-diseases span.glyph:before,
#activityname-filter-value-primary-care---nutrition span.glyph:before,
#activityname-filter-value-primary-care---sti---hiv-aids span.glyph:before,
#activityname-filter-value-secondary---tertiary-care---non-communicable span.glyph:before {
    content: "\f364";
    color: #08a1d9;
}
#activityname-filter-value-wash span.glyph:before,
#activityname-filter-value-drainage span.glyph:before,
#activityname-filter-value-hygiene-promotion---hygiene-products-delivery span.glyph:before,
#activityname-filter-value-sanitation-protection-from-the-spread-of-dise span.glyph:before,
#activityname-filter-value-water-access span.glyph:before {
    content: "\f369";
    color: #7030a0;
}

/* Referral Required */
#referralRequired {
  label {
    display: inline-block;
    margin: 5px 10px 5px 0;
  }
}
#referral-required-filter-value-yes { display: none !important; }

/* Advanced Search */
.advanced-search {

  &.active > h4 i:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  > h4 {

    &:hover,
    &:focus {
     color: $brown-light;
     cursor: pointer;
    }
  }

  .filter {
    border-bottom: 0 none;
    display: none;
    margin-top: 10px;
  }
}
/* Organization */
#partnerName {
  max-height: 300px;
  overflow: auto;

  label {
    float: left;
    height: 40px;
    //min-width: 210px;
    position: relative;
    width: 25%;

    @media only screen and (max-width: 600px) { width: 100%; }
    @media only screen and (min-width: 601px) and (max-width: 800px) { width: 50%; }
    @media only screen and (min-width: 801px) and (max-width: 1024px) { width: 33%; }
    @media only screen and (min-width: 1025px) { width: 25%; }
  }

  .filter-label-value {
    display: inline-block;
    width: 82px;
  }

  .glyph {
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    left: 6px;
    height: 30px;
    position: relative;
    top: 8px;
    width: 120px;
    z-index: 2;
  }
}

i.glyphicon { font-size: 24px; margin-right: -13px; }
i.glyphicon.icon-ocha-item-reliefgood { color: #f96a1b; }
i.glyphicon.icon-ocha-sector-cash { color: #a48658; }
i.glyphicon.icon-ocha-sector-protection { color: #1f497d; }
i.glyphicon.icon-ocha-sector-health { color: #08a1d9; }
i.glyphicon.icon-ocha-sector-wash { color: #7030a0; }
i.glyphicon.icon-ocha-sector-foodsecurity { color: #006600; }
i.glyphicon.icon-ocha-sector-education { color: #c00000; margin-right: -5px; }
i.glyphicon.icon-ocha-sector-shelter { color: #989aac; }

#partnername-filter-value-acf span.glyph { background-image: url("../src/images/partner/acf.jpg"); }
#partnername-filter-value-acted span.glyph { background-image: url("../src/images/partner/acted.jpg"); }
#partnername-filter-value-actionaid span.glyph { background-image: url("../src/images/partner/actionaid.jpg"); }
#partnername-filter-value-adra span.glyph { background-image: url("../src/images/partner/adra.jpg"); }
#partnername-filter-value-avsi span.glyph { background-image: url("../src/images/partner/avsi.jpg"); }
#partnername-filter-value-care span.glyph { background-image: url("../src/images/partner/care.jpg"); }
#partnername-filter-value-chf span.glyph { background-image: url("../src/images/partner/chf.jpg"); }
#partnername-filter-value-cvt span.glyph { background-image: url("../src/images/partner/cvt.jpg"); }
#partnername-filter-value-drc span.glyph { background-image: url("../src/images/partner/drc.jpg"); }
#partnername-filter-value-fao span.glyph { background-image: url("../src/images/partner/fao.jpg"); }
#partnername-filter-value-fca span.glyph { background-image: url("../src/images/partner/fca.jpg"); }
#partnername-filter-value-fpsc span.glyph { background-image: url("../src/images/partner/fpsci.jpg"); }
#partnername-filter-value-hi span.glyph { background-image: url("../src/images/partner/hi.jpg"); }
#partnername-filter-value-icmc span.glyph { background-image: url("../src/images/partner/icmc.jpg"); }
#partnername-filter-value-ifh span.glyph { background-image: url("../src/images/partner/ifh.jpg"); }
#partnername-filter-value-ilo span.glyph { background-image: url("../src/images/partner/ilo.jpg"); }
#partnername-filter-value-imc span.glyph { background-image: url("../src/images/partner/imc.jpg"); }
#partnername-filter-value-intersos span.glyph { background-image: url("../src/images/partner/intersos.jpg"); }
#partnername-filter-value-iocc span.glyph { background-image: url("../src/images/partner/iocc.jpg"); }
#partnername-filter-value-iom span.glyph { background-image: url("../src/images/partner/iom.jpg"); }
#partnername-filter-value-irc span.glyph { background-image: url("../src/images/partner/irc.jpg"); }
#partnername-filter-value-ird span.glyph { background-image: url("../src/images/partner/ird.jpg"); }
#partnername-filter-value-irw span.glyph { background-image: url("../src/images/partner/irw.jpg"); }
#partnername-filter-value-jen span.glyph { background-image: url("../src/images/partner/jen.jpg"); }
#partnername-filter-value-jhas span.glyph { background-image: url("../src/images/partner/jhas.jpg"); }
#partnername-filter-value-jhco span.glyph { background-image: url("../src/images/partner/jhco.jpg"); }
#partnername-filter-value-jrs span.glyph { background-image: url("../src/images/partner/jrs.jpg"); }
#partnername-filter-value-knk span.glyph { background-image: url("../src/images/partner/knk.jpg"); }
#partnername-filter-value-la span.glyph { background-image: url("../src/images/partner/la.jpg"); }
#partnername-filter-value-lwf span.glyph { background-image: url("../src/images/partner/lwf.jpg"); }
#partnername-filter-value-mc span.glyph { background-image: url("../src/images/partner/mc.jpg"); }
#partnername-filter-value-mdm span.glyph { background-image: url("../src/images/partner/mdm.jpg"); }
#partnername-filter-value-medair span.glyph { background-image: url("../src/images/partner/medair.jpg"); }
#partnername-filter-value-po-la-paz span.glyph { background-image: url("../src/images/partner/movimiento-po-la-paz.jpg"); }
#partnername-filter-value-msf span.glyph { background-image: url("../src/images/partner/msf.jpg"); }
#partnername-filter-value-niccod span.glyph { background-image: url("../src/images/partner/niccod.jpg"); }
#partnername-filter-value-nrc span.glyph { background-image: url("../src/images/partner/nrc.jpg"); }
#partnername-filter-value-opm span.glyph { background-image: url("../src/images/partner/operation-mercy.jpg"); }
#partnername-filter-value-oxfam span.glyph { background-image: url("../src/images/partner/oxfam.jpg"); }
#partnername-filter-value-pu-ami span.glyph { background-image: url("../src/images/partner/pu-ami.jpg"); }
#partnername-filter-value-qrc span.glyph { background-image: url("../src/images/partner/qrc.jpg"); }
#partnername-filter-value-questcope span.glyph { background-image: url("../src/images/partner/quetscope.jpg"); }
#partnername-filter-value-ri span.glyph { background-image: url("../src/images/partner/ri.jpg"); }
#partnername-filter-value-sc-jordan span.glyph { background-image: url("../src/images/partner/scjordan.jpg"); }
#partnername-filter-value-sci span.glyph { background-image: url("../src/images/partner/sci.jpg"); }
#partnername-filter-value-taghyeer span.glyph { background-image: url("../src/images/partner/taghyeer.jpg"); }
#partnername-filter-value-tdh span.glyph { background-image: url("../src/images/partner/tdh.jpg"); }
#partnername-filter-value-tdhi span.glyph { background-image: url("../src/images/partner/tdh-it.jpg"); }
#partnername-filter-value-thw span.glyph { background-image: url("../src/images/partner/thw.jpg"); }
#partnername-filter-value-tgh span.glyph { background-image: url("../src/images/partner/triangle.jpg"); }
#partnername-filter-value-undp span.glyph { background-image: url("../src/images/partner/undp.jpg"); }
#partnername-filter-value-unesco span.glyph { background-image: url("../src/images/partner/unesco.jpg"); }
#partnername-filter-value-unfpa span.glyph { background-image: url("../src/images/partner/unfpa.jpg"); }
#partnername-filter-value-unhabitat span.glyph { background-image: url("../src/images/partner/unhabitat.jpg"); }
#partnername-filter-value-unhcr span.glyph { background-image: url("../src/images/partner/unhcr.jpg"); }
#partnername-filter-value-unicef span.glyph { background-image: url("../src/images/partner/unicef.jpg"); }
#partnername-filter-value-unops span.glyph { background-image: url("../src/images/partner/unops.jpg"); }
#partnername-filter-value-upp span.glyph { background-image: url("../src/images/partner/upp.jpg"); }
#partnername-filter-value-warchild span.glyph { background-image: url("../src/images/partner/warchild.jpg"); }
#partnername-filter-value-wfp span.glyph { background-image: url("../src/images/partner/wfp.jpg"); }
#partnername-filter-value-who span.glyph { background-image: url("../src/images/partner/who.jpg"); }
#partnername-filter-value-wvi span.glyph { background-image: url("../src/images/partner/wvi.jpg"); }

#proximity .leaflet-control-filter-fieldset {
  width: 50%; display: inline-block;
  .filter-option { width: 200px; display: inline-block; }
}

.pfc-custom-pointer { cursor: crosshair; }

#region .filter-option { display: inline-block; width: 170px; }
